footer{
    background-color: #111;
    width:100%;
    position: relative;
}
.colRow{
  display:flex;
  flex-direction: row;
}
.outerStoreCont{
    margin-top:50px;
}
.desktopApp{
    width:100%; /* ODSTRANI */
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #111;
}
.desktopApp h2{
    font-family: twitter1;
    letter-spacing: 2px;
    color:white;
    font-size:22px;
    font-weight: 600;
}
.desktopApp h1{
    margin-top:8px;
    font-family: twitter1;
    letter-spacing: 2px;
    color:var(--twitterC);
    font-size:36px;
    font-weight: 600;
}
.storeCont{
    margin: 30px 0 30px;
}
.googleStore, .appStore{
    width:10rem;
}
.googleStore:hover, .appStore:hover{
    cursor: pointer;
}
.socialIcons{
    width:100%;
    background-color: #111;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0 30px;
}
.socialIcons h1{
    margin-bottom:15px;
    font-family: twitter1;
    letter-spacing: 2px;
    color:white;
    font-size:36px;
    font-weight: 600;
}
.wrapper {
    display: flex;
    list-style: none;
  }
  .wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color:black; 
  }
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    font-family: oxygen1;
    display: flex;
    justify-content:  center;
  }
  .twitter .tooltip{
    width:150px;
  }
  .github .tooltip{
    width: 100px;
  }
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: none;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  .wrapper li:hover,
  .wrapper li:hover .tooltip,
  .wrapper li:hover .tooltip::before {
    background-color: var(--twitterC);
    color: #ffffff;
  }


  .newsletter{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:30px;
    border-bottom: 1px solid var(--twitterC);
    margin: 0 auto 0 auto;
    max-width: 1300px; /*  TEMPORARY  */
  }
  .subCont{
    flex-direction: column;
    display:flex;
  }
  .subCont h1{
    margin-top:8px;
    font-family: twitter1;
    letter-spacing: 2px;
    color:var(--twitterC);
    font-size:36px;
    font-weight: 600;
  }
  .subCont span{
    font-family: twitter1;
    letter-spacing: 2px;
    color:white;
    font-size:22px;
    font-weight: 600;
  }

  /* INPUT - start */
  
  .email{ 
    position: relative;
    border: 1px solid white;
    display:flex;
    cursor:pointer;
    border-radius:100px;
    margin-left:50px;
    background-color: white;
}
.emailMod{
    box-shadow: var(--twitterC) 0 0 0 1px;
    border-color: var(--twitterC);
}
.spanHolder{
    position: absolute;
    flex-direction: row;
    display:flex;
    height:100%;
    width:100%;
    user-select: none;
    margin-left:20px;
}
.spanEmail{
    padding-left:8px;
    padding-right:8px;
    padding-top: 16px;
    font-family: oxygen1;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: #111;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1), font-size 150ms cubic-bezier(0.4, 0, 0.2, 1), padding-top 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.spanMod{
    padding-left:8px;
    padding-right:8px;
    padding-top: 8px;
    font-family: oxygen1;
    font-size: small;
    font-weight: 400;
    line-height: 16px;
    color: var(--twitterC) !important;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), color 150ms cubic-bezier(0.4, 0, 0.2, 1), font-size 150ms cubic-bezier(0.4, 0, 0.2, 1), padding-top 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.spanMod2{
    padding-left:8px;
    padding-right:8px;
    padding-top: 8px;
    font-family: oxygen1;
    font-size: small;
    font-weight: 400;
    line-height: 16px;
    color: #111;
  }
.inputHolder{
    position: relative;
    margin-top:16px;
    padding:12px 8px 8px 8px;
    display:flex;
    width:100%;
}
.email button{
  border-radius:100px;
  border: none;
  background-color: var(--twitterC);
  width:100px;
  position: absolute;
  color:white;
  font-weight: 400;
  font-family: oxygen1;
  font-size:16px;
  top:0;
  right:0;
  padding:10px;
  cursor: pointer;
  margin:9px;
  z-index:100;
  user-select: none;
}
.email button:hover{
  background-color: white;
  color:var(--twitterC);
  border: 1px solid var(--twitterC);
  
}
.emailInput{
    border:none;
    font-size:17px;
    font-weight:400;
    width:500px;
    appearance: none;
    background-color: rgba(0, 0, 0, 0.00);
    outline-style:none;
    text-align: left;
    font-family: oxygen1;
    color:#111;
    cursor: pointer;
    margin-left:20px;
    margin-right:20px;
}
  /* INPUT - end */

.copyright{
  width:100%;
  color:gray;
  padding:10px;
  text-align: center;
}

.policy{ 
  margin-bottom:0;
  align-items: stretch;
  display: flex;
  flex-direction: column;
}
.policy nav{
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content: center;
  padding-bottom:12px;
  padding-top:12px;
  padding-left:16px;
  padding-right:16px;
}
.policy nav a{
  font-family: oxygen1;
  word-wrap:break-word;
  font-size:16px;
  min-width:0;
  font-weight:400;
  padding-right:16px;
  margin-bottom:4px;
  margin-top:4px;
  text-decoration: none;
  color: rgb(113, 118, 123);
}
.policy nav a:hover {
  text-decoration: underline;
}
.policy nav div{
  font-family: oxygen1;
  word-wrap:break-word;
  font-size:16px;
  font-weight:400;
  padding-right:16px;
  margin-bottom:4px;
  margin-top:4px;
  color: rgb(113, 118, 123);
}
.credits{
  margin-right:5px;
}
.credits:hover{
  color:var(--twitterC);
  cursor: pointer;
}