/* HOME PAGE */
@media (max-width:1200px) {
    .desnoHP{
        min-width:45vw !important;
    }
}
@media (max-width:1100px) {
    .desnoHP{
        min-width:50vw !important;
    }
    .slikaHP span{
        font-size:30px !important;
    }
}
@media (max-width:1000px) {
    .meniHP h1{
        font-size:60px !important;
    }
    .flexCont1, .flexCont2{
        flex-grow:0;
        display:none;
    }
}
@media (max-width:900px){
    .slikaHP span{
        font-size:20px !important;
        letter-spacing: 1.5px !important;
    }
    .searchIcon, .peopleIcon, .textIcon{
        margin-left: 40px !important;
    }
    .meniHP h1{
        font-size:50px !important;
    }
    .slikaBtn, .meniBtn1, .meniBtn2, .meniBtn3, .meniBtn4, .profilBtn{
        font-size: 14px;
    }
    .dropNaslov, .drop1, .drop2, .drop3, .drop4{
        font-size:13px;
    }
    
}
@media (max-width: 800px){
    .desnoHP{
        min-width:60vw !important;
    }
    .slikaHP span{
        font-size:20px !important;
    }
    .searchIcon, .peopleIcon, .textIcon{
        margin-left: 0 !important;
    }
}
@media (max-width: 700px){
    .homePage{
        flex-direction: column;
    }
    .footerContainer{
        margin-top:50px;
    }
    .levoHP{
        border-top-right-radius: 0;
        border-bottom-right-radius: 100px;
    }
    .slikaHP span{
        font-size:16px !important;
    }
    .slikaBtn, .meniBtn1, .meniBtn2, .meniBtn3, .meniBtn4, .profilBtn{
        font-size: 12px;
    }
    .meniHP h1{
        font-size:45px !important;
    }
    .meniHP h2, .skatlaRacun span{
        font-size: 25px !important;
    }
    .google, .apple, .create, .signin, .orBlock{
        width:250px !important;
    }
    .profilModal, .profilModal button, .crta{
        width:150px !important;
        font-size: 12px;
    }
    .profilModal{
        height:250px;
    }
    .profilModal h2{
        font-size: 15px !important;
    }
    .arrowSvg, .slikaBtn svg, .themeCont svg, .profilSvg{
        display:none !important;
    }
    .footerNav{
        font-size: 12px !important;
    }
    .profilModal, .profilModal h2, .crta{
        max-width:130px !important;
        font-size: 14px !important;
    } 
    .profilModal button{
        max-width:130px !important;
        font-size: 12px !important;
    }
    .profilBtn{
        max-width:130px !important;
    }
    .profilBtn{
        width: 150px !important;
    }
}
@media (max-width: 550px){
    .slikaHP span{
        font-size:11px !important;
        font-family: oxygen1 !important;
        line-height: 50px !important;
    }
    .slikaBtn, .meniBtn1, .meniBtn2, .meniBtn3, .meniBtn4, .profilBtn{
        font-size: 11px !important;
    }
    .meniHP h1{
        font-size:35px !important;
    }
    .meniHP h2, .skatlaRacun span{
        font-size: 20px !important;
    }
    .google, .apple, .create, .signin, .orBlock{
        width:200px !important;
        font-size: 14px !important;
    }
    .profilModal, .profilModal h2, .profilModal button, .crta{
        max-width:90px !important;
        font-size: 10px !important;
    }
    .profilBtn{
        max-width:90px !important;
    }
    .dropNaslov, .drop1, .drop2, .drop3, .drop4{
        font-size:11px !important;
    }
    .footerNav{
        font-size: 9px !important;
    }
}
