.modalShown{
    display:flex !important;
}
.speedModal{
    display: none;
    transition: opacity 0.5s ease; 
    user-select: none;
    height:100%;
    width:100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(rgba(255, 0, 0, 0), green, blue);
}
.speedModal span{
    font-size:36px;
    font-family: twitter1;
    font-weight:600;
    color: var(--twitterC);
    letter-spacing: 2px;
    margin-bottom:60px;
}
.speedInp{
    width:250px;
    cursor: pointer;
    margin-bottom:10px;
    color:var(--twitterC);
}
.output{
    width:250px;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: oxygen1;
    font-weight:500;
    margin-bottom:50px;
}
.okej{
    border: none;
    height:40px;
    width:300px;
    background-color: black;
    color: white;
    cursor:pointer;
    border-radius:20px;
    font-size:15px;
    font-family: oxygen1;
    font-weight:500;
    transition-duration: 0.2s;
    display:flex;
    align-items: center;
    justify-content: center;
}
.okej:hover{
    background-color: var(--twitterC);
    transition-duration: 0.2s;
}
