.slika4{
    height:100%;
    width:100%;
    display:none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: white;
}
.pCont{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 80px;
    font-size:30px;
    font-family: Verdana;
}