.slika2{
    height:100%;
    width:100%;
    display:none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.spanCont2{
    top:45px;
    position: absolute;
}
.spanCont2 span{
    font-size:45px;
    letter-spacing: 1px;
    font-family:cursive;
}
.slika2 svg{
    height:425;
    width:520px;
}