.slika1{
    height:100%;
    width:100%;
    display:none;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
}
.left{
    display:flex;
}
.right{
    display:flex;
    flex-direction: column;
    gap:20px;
    margin-left:50px;
}
.spanCont1{
    top:45px;
    position: absolute;
}
.spanCont1 span{
    font-size:45px;
    letter-spacing: 1px;
    font-family:cursive;
}
.animationBtn, .speedBtn, .colorBtn{
    border: none;
    height:50px;
    width:250px;
    background-color: black;
    color: white;
    cursor:pointer;
    border-radius:20px;
    font-size:17px;
    font-weight: 500;
    font-family:cursive;
    transition-duration: 0.2s;
    margin-top:5px;
}
.animationBtn:hover, .speedBtn:hover, .colorBtn:hover{
    background-color: var(--twitterC);
    transition-duration: 0.2s;
    font-size:19px;
}