.slika1{
    height:100%;
    width:100%;
    display:none;
    flex-direction: row;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.left{
    display:flex;
    height:100%;
    width:50%;
    justify-content: flex-end;
    align-items: center;
}
.right{
    display:flex;
    flex-direction: column;
    gap: 25px;
    height:100%;
    width:50%;
    margin-right:200px;
    justify-content: center;
    align-items: center;
}
.canvasCont{
    height:520px;
    width:520px;
    display:flex;
    transition-duration: 0.2s;
    position: relative;
}
.canvasCont:hover{
    transition-duration: 0.2s;
    background-color: rgba(189, 181, 181, 0.39);
}
.picCont{
    position:absolute;
    top:0;
    right:0;
    display:none;
    border-radius:100%;
    padding:20px;
    transition-duration: 0.2s;
}
.picCont:hover{
    background-color: rgba(189, 181, 181, 0.692);
    cursor: pointer;
    transition-duration: 0.2s;
}
.downShown{
    display:flex !important;
}
.downTitle{ /*Napis kadar hoveraš */
    position: absolute;
    background-color: #464141fb;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 13px;
    white-space: nowrap;
    pointer-events: none;
    display: none;
    font-family:sans-serif
}
.spanCont1{
    top:45px;
    position: absolute;
}
.spanCont1 span{
    font-size:45px;
    letter-spacing: 1px;
    font-family:cursive;
}
.animationBtn, .speedBtn, .colorBtn{
    border: none;
    height:50px;
    width:250px;
    background-color: black;
    color: white;
    cursor:pointer;
    border-radius:20px;
    font-size:17px;
    font-weight: 500;
    font-family:cursive;
    transition-duration: 0.2s;
    margin-top:5px;
}
.animationBtn:hover, .speedBtn:hover, .colorBtn:hover{
    background-color: var(--twitterC);
    transition-duration: 0.2s;
    font-size:19px;
}