.slika1{
    height:100%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.spanCont1{
    margin-bottom:80px;
}
.spanCont1 span{
    font-size:45px;
    letter-spacing: 1px;
    font-family:cursive;
}
.knofAni{
    display:flex;
    justify-content: center;
    margin-top:50px;
}
.knofAni button{
    border: none;
    height:50px;
    width:250px;
    background-color: black;
    color: white;
    cursor:pointer;
    border-radius:20px;
    font-size:17px;
    font-weight: 500;
    font-family:cursive;
    transition-duration: 0.2s;
}
.knofAni button:hover{
    background-color: rgb(28,150,232);
    transition-duration: 0.2s;
    font-size:19px;
}