.slika4{
    height:100%;
    width:100%;
    display:none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: white;
}
.spanCont4{
    position: absolute;
    top:45px;
}
.spanCont4 span{
    font-size:45px;
    letter-spacing: 1px;
    font-family:cursive;
}
.pCont{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 80px;
    font-size:30px;
    font-family:cursive;
}