:root {
    --twitterC: rgb(3, 169, 244);
}
@font-face {
    font-family: 'twitter1';
    src: url("..\\fonts\\Arista Light Trial.ttf") format("truetype");
}
@font-face {
    font-family: 'twitter2';
    src: url("..\\fonts\\PICOBLA_.TTF") format("truetype");
}
@font-face {
    font-family: 'twitter3';
    src: url("..\\fonts\\PICOWA__.TTF") format("truetype");
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body, html{
    width: 100%;
    height: 100%;
}
.glavni{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    position: relative;
    background-color: white;
}
.meni{
    position: sticky;
    top: 0; 
    left: 0; 
    z-index: 100;
    width:100%;
    min-height:45px;
    background-color: #111;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
    user-select: none;
}
.slikaBtn{
    display:flex;
    align-items: center;
    height:100%;
    fill:white;
    transition-duration: 0.2s;
    justify-content: center;
}
.slikaBtn svg{
    height:30px;
    width:30px;
    margin-right:15px;
}
.slikaBtn:hover{
    fill:var(--twitterC);
    color: var(--twitterC);
}
.outerProfilBtn{
    flex-direction: column;
    position: relative;
}
.profilBtn{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.profilBtn:hover{
    color:var(--twitterC);

    .profilSvg{
        fill:var(--twitterC);
    }
    .arrowSvg{
        fill:var(--twitterC);
    }
}
.profilSvg{
    height: 30px;
    width: 30px;
    fill:white;
    display:block;
}
.arrowSvg{
    height: 15px;
    width: 15px;
    fill:white;
}
.arrowCont{
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;
}
.rotate{
    transform: rotate(180deg);
}
.profilModal{
    top:37px;
    display:none;
    align-items: center;
    flex-direction: column;
    height:300px;
    width:200px;
    position: absolute;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-left: 1px solid #111;
    border-bottom: 1px solid #111;
    background-color: white;  
    z-index: 100;
}
.profileActive{
    display:flex;
}
.create2, .signin2{
    height:30px;
    width:180px;
    max-width:380px;
    border:1px solid;
    line-height: 20px;
    border-radius: 9999px;
    cursor:pointer;
    transition-duration: 0.2s;
    font-size:13px;
    font-family: sans-serif;
}
.profilModal h2{
    margin-top:30px;
    font-size: 18px;
    font-family: twitter2;
}
.crta{
    height:1px;
    width:180px;
    background-color: #111;
    margin-top:35px;
    margin-bottom:35px;
}
.create2{
    background-color: var(--twitterC);
    color:white;
    margin-bottom:15px;
    border:none;
}
.create2:hover {
    background-image: linear-gradient(to top right, #fff, transparent);
    border: 1px solid #111;
    color: #111;
}
.signin2:hover{
    background-image: linear-gradient(to top right, var(--twitterC), transparent);
    color:white;
}
.slikaBtn, .meniBtn1, .meniBtn2, .meniBtn3, .meniBtn4{
    transition-duration: 0.2s;
}
.slikaBtn, .meniBtn1, .meniBtn2, .meniBtn3, .meniBtn4, .profilBtn{
    height:30px;
    width:200px;
    font-weight: 700;
    cursor: pointer;
    border:none;
    background-color: #111;
    color:white;
    font-size:16px;
    font-family: sans-serif;
    border-radius:16px;
    position: relative;
}
.meniBtn1:hover, .meniBtn2:hover, .meniBtn3:hover{
    transition-duration: 0.2s;
    text-decoration: underline 2px;
}
.flexCont1, .flexCont2{
    flex-grow:1;
}
.active {
    background-color:var(--twitterC) !important;
    fill:white !important;
    color: white !important;
    text-decoration: none !important;
}
.pageShown{
    display:flex !important;
}

/* DROP DOWN - TEME*/
.themeCont{
    display:flex;
    align-items: center;
    justify-content: center;
}
.themeCont svg{
    height: 15px;
    width: 15px;
    fill:white;
    margin-left: 15px;
    transition: transform 0.5s ease;
}
.meniBtn4{
    display:block;
}
.meniBtn4:hover{
    .dropDown{
        display:block;
    }   
    .themeCont svg{
        transform: rotate(180deg);
    }
}
.dropDown{
    display:none;
    width: 100%;
    position: absolute;
    z-index: 100;
}
.dropDown li{
    text-align: left;
    list-style: none;
    color: #111;
    border:1px solid;
    background-color: white;
    height:40px;
    font-size:15px;
    font-weight: 700;
    font-family: sans-serif;
    top:11px;
    position: relative;
    border-radius:5px;
    display:flex;
    align-items: center;
}
.dropDown li span{
    margin-left:5px; 
}
.dropDown li:hover{
    border:1px solid #111;
    background-image: linear-gradient(to bottom , var(--twitterC), transparent);
}
/* NOGA */
footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
.socialIcons a:hover{
    background-color: var(--twitterC);
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
    font-family: twitter1;
    letter-spacing:1.2px;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover{
    opacity: 1;
}