:root {
    --twitterC: rgb(3, 169, 244);
}
@font-face {
    font-family: 'twitter1';
    src: url("..\\fonts\\Arista Light Trial.ttf") format("truetype");
}
@font-face {
    font-family: 'twitter2';
    src: url("..\\fonts\\PICOBLA_.TTF") format("truetype");
}
@font-face {
    font-family: 'twitter3';
    src: url("..\\fonts\\PICOWA__.TTF") format("truetype");
}
@font-face {
    font-family: 'oxygen1';
    src: url("..\\fonts/Figtree-VariableFont_wght.ttf") format("truetype");
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
body, html{
    width: 100%;
    height: 100%;
}
.glavni{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    position: relative;
    background-color: white;
}
.meni{
    position: sticky;
    top: 0; 
    left: 0; 
    z-index: 100;
    width:100%;
    min-height:45px;
    background-color: #111;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
    user-select: none;
}
.slikaBtn{
    display:flex;
    align-items: center;
    height:100%;
    fill:white;
    transition-duration: 0.2s;
    justify-content: center;
}
.slikaBtn svg{
    height:30px;
    width:30px;
    margin-right:15px;
}
.slikaBtn:hover{
    fill:var(--twitterC);
    color: var(--twitterC);
}
.outerProfilBtn{
    flex-direction: column;
    position: relative;
}
.profilBtn{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.outerProfilBtn:hover{
    .profilBtn{
        color:var(--twitterC);
    }

    .profilSvg{
        fill:var(--twitterC);
    }
    .arrowSvg{
        fill:var(--twitterC);
        transform: rotate(180deg);
        transition: transform 0.5s ease;
    }
    .profilModal{
        display:flex;
    }
}
.profilSvg{
    height: 30px;
    width: 30px;
    fill:white;
    display:block;
}
.arrowSvg{
    height: 15px;
    width: 15px;
    fill:white;
    transition: transform 0.5s ease;
}
.arrowCont{
    display: flex;
    align-items: center;
}
.profilModal{
    top:30px;
    display:none;
    align-items: center;
    flex-direction: column;
    height:300px;
    width:200px;
    position: absolute;
    border-radius:10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: white;  
    z-index: 100;
}
.profileActive{
    display:flex;
}
.create2, .signin2{
    height:30px;
    width:180px;
    max-width:380px;
    border:1px solid;
    line-height: 20px;
    border-radius: 9999px;
    cursor:pointer;
    transition-duration: 0.2s;
    font-size:13px;
    font-family: oxygen1;
    font-weight:500;
}
.profilModal h2{
    margin-top:30px;
    font-size: 18px;
    font-family: oxygen1;
    font-weight: 600;
}
.crta{
    height:1px;
    width:180px;
    background-color: #111;
    margin-top:35px;
    margin-bottom:35px;
}
.create2{
    background-color: var(--twitterC);
    color:white;
    margin-bottom:15px;
    border:none;
}
.create2:hover {
    background-image: linear-gradient(to top right, #fff, transparent);
    border: 1px solid #111;
    color: #111;
}
.signin2:hover{
    background-image: linear-gradient(to top right, var(--twitterC), transparent);
    color:white;
}
.slikaBtn, .meniBtn1, .meniBtn2, .meniBtn3, .meniBtn4{
    transition-duration: 0.2s;
}
.slikaBtn, .meniBtn1, .meniBtn2, .meniBtn3, .meniBtn4, .profilBtn{
    height:30px;
    width:200px;
    cursor: pointer;
    border:none;
    background-color: #111;
    color:white;
    font-size:16px;
    font-family: oxygen1;
    font-weight:400;
    border-radius:16px;
    position: relative;
}
.meniBtn1:hover, .meniBtn2:hover, .meniBtn3:hover{
    
    transition-duration: 0.2s;
    color: var(--twitterC);
}
.flexCont1, .flexCont2{
    flex-grow:1;
}
.active {
    background-color:var(--twitterC) !important;
    fill:white !important;
    color: white !important;
}
.pageShown{
    display:flex !important;
}

/* DROP DOWN - TEME*/
.themeCont{
    display:flex;
    align-items: center;
    justify-content: center;
}
.themeCont svg{
    height: 15px;
    width: 15px;
    fill:white;
    margin-left: 15px;
    transition: transform 0.5s ease;
}
.meniBtn4{
    display:block;
}
.meniBtn4:hover{
    color: var(--twitterC);
    transition-duration: 0.2;

    .dropDown{
        display:block;
    }   
    .themeCont svg{
        transform: rotate(180deg);
        fill: var(--twitterC);
    }
}
.dropDown{
    display:none;
    position: absolute;
    width:100%;
    background-color: white;
    padding: 10px 0 10px;
    border-radius:10px;
    top:30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: auto;
}
.dropDown span{
    font-size:15px;
}
.dropNaslov{
    position: relative;
    color: #111;
    background-color: white;
    text-align: left;
    display:flex;
    align-items: center;
    cursor:auto;
    height:40px;
    font-family: oxygen1;
    font-weight:600;
}
.dropCrta{
    height:2px;
    margin: 5px 0 5px;
    background-color: #111;
    position: relative;
    cursor: auto;
}
.dropDown ul{
    list-style: square;
}
.dropDown li{
    text-align: left;
    color: #111;
    background-color: white;
    height:40px;
    font-family: oxygen1;
    font-weight:400;
    position: relative;
    display:flex;
    align-items: center;
    cursor: pointer;
}
.dropDown li:hover{
    opacity: 1;
    color: white;
    background-color: rgba(128, 128, 128, 0.7);
}
.dropDown span{
    margin-left:10px; 
}
.dropActive {
    cursor: auto !important;
    color: #111 !important;
    background-color: rgba(128, 128, 128, 0.5) !important;
}